body {
    display: block;
    margin: 0px;
    overflow: hidden; /* Hide scrollbars */
    background: url('../Data/wallpaper.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.scene {
    display: none;
}
.scene-title {
    font-size: 1.7em;
    color: #ffcd38;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: 2px 2px 2px #000;
    margin-bottom: 20px;

}

.mini-card-group {
    margin-bottom: 20px;
}
#duplicate-other-results {
    font-size: 1.0em;
    color: #fff;
    font-family: Courier New;
    text-shadow: 2px 2px 2px #000;
    margin-bottom: 20px;
}
.duplicate-result-entry {
    margin: 5px;
    padding: 3px;
}
.duplicate-results-won {
    display: table;
    color: mediumaquamarine;
    background: rgba(20,20,20,0.8);
}
.duplicate-results-lost {
    display: table;
    color: indianred;
    background: rgba(20,20,20,0.8);
}
.scene-description {
    display: inline-flex;
    font-size: 1.1em;
    color: #fff;
    font-family: Verdana;
    text-shadow: 2px 2px 2px #000;
    margin-bottom: 20px;
    padding: 5px;
    background: rgba(100,100,100,0.5);
}
.scene-manager {
    left: 20%;
    top: 20%;
    right: 20%;
    bottom: 20%;
    position: fixed;

    z-index: 2;
}
.message-small {
    z-index: 6;
    position: fixed;
    position: fixed;
    width: 400px;
    top: 80%;
    left: 10%;
    margin-left: -200px;
    font-size: 1.5em;
    color: #ffcd38;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: 2px 2px 2px #000;
    background: rgba(20,20,20,0.8);
    text-align: center;
    padding: 10px;
    display: none;
}
.card {
    margin: 5px;
    border-radius: 25px;
    border: 3px solid #999;
    z-index: 0;
}
.card-group {
    width: 200px;
    height: 300px;
    padding: 10px;
    float: left;

}
.card-container {
    display: block;
    display: inline-block;
}
.card-coins {
    display: none;
    width: 100px;
    height: 100px;
    position: relative;
    left: 0px;
    top: -80px;
    z-index: 1;
}
.card:hover {
    border: 3px solid #ffcd38;
}

.message-big {
    z-index: 6;
    position: fixed;
    width: 400px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -50px;
    font-size: 1.8em;
    color: #ffcd38;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: 2px 2px 2px #000;
    background: rgba(20,20,20,0.8);
    padding: 10px;
    display: none;
}

.top-right-menu {
    z-index: 6;
    font-family: Impact, Charcoal, sans-serif;
    background: #bbb;
    position: fixed;
    top: 0%;
    left: 100%;
    margin-left: -400px;
    width: 400px;
}

.player-tab {
    vertical-align: middle;
    background: #555;
    padding: 5px;
    color: #fff;
    height: 30px;
}

.player-points-icon {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: -3px;
}

.player-name {
    text-shadow: 3px 3px 4px #111;
    font-size: 1.3em;
    vertical-align: middle;
    margin-right: 20px;
    float: left;
}

.player-points-value {
    color: #ffcd38;
    text-shadow: 3px 3px 4px #111;
    font-size: 1.3em;
    text-align: center;
    float: left;
}

.player-logout {
    float: left;
}

.player-highscore {
    padding: 5px;
}

.player-highscore-table {
    font-family: Verdana;
    border-collapse: collapse;
    width: 100%;
}

.player-highscore-table-header {
    font-family: Verdana;
    padding: 5px;
    font-size: 0.95em;
    text-align: left;
}

.player-highscore-table th, td {
    padding: 5px;
    border: 1px solid #777;
}
.animation-beer-body {
    width: 100%;
    z-index: 4;
    background-image: url("../Data/beer_body.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    display: none;
    height: 0%;
    top: 0%;
}
.animation-beer-top {
    z-index: 5;
    background-image: url("../Data/beer_top.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 10%;
    width: 100%;
    height: 168px;
    display: none;
}

.scene-timer {
    position: fixed;
    top: 80%;
    left: 80%;
    font-size: 4em;
    color: #ffcd38;
    font-family: Impact, Charcoal, sans-serif;
}

.share-player-list {
    margin-top: 40px;
}
.share-player {
    background-image: url("../Data/textur.png");
    background-size: 100% 100%;
    width: 150px;
    height: 150px;
    border: 2px solid #ffcd38;
    border-radius: 10px;
    text-shadow: 2px 2px 2px #000;
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
}
.share-player-amount-total {
    display: inline-block;
    color: #D6564D;
    font-size: 1.1em;
    margin-left: 5px;
}
.share-player-name {
    margin-top: 15px;
    font-size: 0.8em;
    color: #fff;
    font-family: Verdana;
}
.share-player-count {
    margin-top: 8px;
    color: #ffcd38;
    font-size: 4em;
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: 2px 2px 2px #000;
}